<div class="content">
  <div class="homepage">
    <nav>
      <ul>
        <a href="/">
          <li>home</li>
        </a>
      </ul>
    </nav>
    <section>
      {{#each images}}
        <a href="{{this.fileLink}}">
          <li>{{this.filename}}</li>
        </a>
      {{/each}}
    </section>
  </div>
</div>