a {
  color: inherit;
  /* text-decoration: none; */
}
.body {
  background-image: url('/images/bg.jpg');
  background-attachment: fixed;
  font-size: 16px;
  font-family: sans-serif;
}

.homepage{
  color: white;
  text-align: center;
}

.page-title {
  color: #fff;
  font-size: 48px;
}

.content {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.content section {
  margin-top: 15px;
  padding: 25px;
  text-align: center;
}

.form-container {
  background-color: #fff;
  display: table;
  padding: 15px 30px;
  margin: 0 auto;
  text-align: center;
  width: 280px;
}

.form-container, .form-container input, .form-container select {
  border-radius: 4px;
  border: 1px #eee solid;
}

.form-container input, .btn, .form-container select {
  margin: 0 auto 15px;
  padding: 10px 0;
}

.form-container input{
  text-indent: 10px;
}
.upload-input-select {text-align: right;}
.upload-input-select label {color: #00334e;}
.form-container select {
  background-color: transparent;
  width: 50%;
}

.form-container input[type="file"] {
    display: none;
}
.form-container .custom-file-upload {
    background-image: url('/images/upload.svg');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    margin: 15px auto;
    display: inline-block;
    cursor: pointer;
}

.img-preview img {
  display: none;
  width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.btn {
  width: 100%;
  border: none;
  color: #fff;
}
.btn:active{
  box-shadow: 0 0 0 0.2rem rgba(13, 158, 189, .5);
}

.btn-disabled {
  background: buttonface;
}

.btn-active {
  background: linear-gradient(to right, #00334e , #0d9ebd);
}

/* MODULES SECTION*/
.modules, .details {display: none;}
.modules-container img {
  padding: 10px;
  width: 10%;
}
.details-container img {
  width: 80%;
}
/* END MODULES SECTION*/

/* ERROR PAGE */
.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.error-page h1 {
  font-size: 30vh;
  font-weight: bold;
  position: relative;
  /* margin: -8vh 0 0; */
  padding: 0;
}
.error-page h1:after {
  content: attr(data-h1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: transparent;
  /* webkit only for graceful degradation to IE */
  background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  animation: animateTextBackground 10s ease-in-out infinite;
}
.error-page h1 + p {
  color: #d6d6d6;
  font-size: 8vh;
  font-weight: bold;
  line-height: 10vh;
  max-width: 600px;
  position: relative;
}
.error-page h1 + p:after {
  content: attr(data-p);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

@keyframes animateTextBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}
@media (max-width: 767px) {
  .error-page h1 {
    font-size: 32vw;
  }
  .error-page h1 + p {
    font-size: 8vw;
    line-height: 10vw;
    max-width: 70vw;
  }
}

/* END error page */